nav {
 display: flex;
 align-items: center;
 justify-content: space-between;

 .row {
  gap: 20px;
 }
}

.weather-forecast {
 font-weight: bold;
 font-size: 1.2rem;
 transition: .3s ease-in-out all;

 &:hover {
  color: $blue;
 }
}